%th= ApiToken.human_attribute_name('email')
%th= ApiToken.human_attribute_name('nombre')
%th= ApiToken.human_attribute_name('token')
%th= ApiToken.human_attribute_name('fecha_expiracion')
%th= t('general.status')
