%th= t("activerecord.attributes.baja.numero")
- if Rails.application.secrets.interoperabilidad_plantillas.present?
  %th= t("activerecord.attributes.baja.documento_cite")
%th= t("activerecord.attributes.baja.motivo")
%th= t("activerecord.attributes.baja.documento")
%th= t("activerecord.attributes.baja.fecha")
